{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand page-scroll"><!--<img src="{% static 'places/img/logo-white.png' %}" alt="Boxify Logo">-->Boxify</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                	<a href="#" class="page-scroll">HOME</a>
                </li>
                <li>
                	<a href="#" class="page-scroll">FAVORITES</a>
                </li>
			</ul>
		</div>	
	</div>
</nav>